footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 4em;
  margin-top: 5em;
}

footer > h3 {
  margin: 3em 0 1em 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
ul {
  margin: 2em;
  list-style-type: none;
}
footer > ul > li:first-of-type {
  margin: 1.5em;
  font-weight: bolder;
}
li {
  margin: 0.5em;
}

@media screen and (min-width: 427px) {
  footer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  footer > h3 {
    position: relative;
    top: -1.4em;
    left: -7em;
  }
}
