article {
  margin: 3em 2em;
}
h2 {
  margin: 1em 0;
  color: hsl(208, 49%, 24%);
}

h2:hover {
  color: hsl(209, 67%, 16%);
  cursor: pointer;
}

article > p {
  color: hsl(237, 17%, 21%);
}

article > h4 {
  color: black;
  float: left;
}
@media screen and (min-width: 420px) {
  article > h4 {
    float: none;
    margin-bottom: 1em;
  }
  /* main > article:nth-child(odd) {
    float: left;
    border: 2px solid purple;
  } */
}
/* img yoveli meore bavshvs float right mieci */
